
<!DOCTYPE html>
<html>
<head>
  <title>MC ToolBox</title>
  <link rel="icon" href="{{ url_for('static', filename='icon.png')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  



<div class="container center">
  <div class="row" >
    <div class="col-md-12">
      <h1 class="white">MC ToolBox <a style="color: white" target="_blank" href="https://www.linkedin.com/in/duy-kh%C3%A1nh-20705320b/"><i style="font-size: 35px" class="fa fa-linkedin-square" aria-hidden="true"></i></a></h1>
    </div>

  </div>
  <div class="row" style="justify-content: center;">
    <div class="col-md-6" style="text-align: left;">
      <p class="white"><strong>*Description:</strong></li>
      <li class="white"><strong>Split:</strong> Split the file into smaller files regarding the number of rows.</li>

      <li class="white"><strong>Extract:</strong> Extract <strong>domain</strong> from <strong>Website</strong>. <strong>Company</strong> and <strong>Website</strong> columns' <strong>names</strong> are compulsory in the input file.</li>

      <li class="white"><strong>Match:</strong> Match company emails with the equivalent websites. <strong>Company</strong>, <strong>Website</strong> and <strong>Email</strong> columns' <strong>names</strong> are compulsory in the input file.</li>

      <li class="white"><strong>End to End: </strong>The tool will automatically extract domains and find bulk emails through Snovio.io API. <strong>Company</strong> and <strong>Website</strong> columns' <strong>names</strong> are compulsory in the input file.</li>
      <br>

      <p class="white"><strong>*Maybe you dont know this:</strong></p>
      <li class="white">Lowercase or uppercase columns' names do not matter: <strong>Company, COMPANY, company, CoMpAnY,... are all accepted and recognizable</strong>.</li>
      <li class="white">You don't have to add all 3 columns' names: Company, Website and Email to use End2End. Only Company and Website are required.</li>

      <br>

      <p class="white"><strong>*Notes:</strong></p>
      <li class="white">The <strong>Unsuccess file</strong> contains data that is failed to fetch emails from Snovio due to server error. If it exists in the output zip, you can put it back to <strong>E2E</strong> to get the remaining emails. This new feature helps <strong>save </strong>the <strong>account credits</strong> when processing large data.</li>
      <li class="white">With the columns that contain date-time information, the format may be affected.</li>
      <li class="white">The system will automatically filter out the line which has no information (no website or no email) or is duplicated. Therefore, the number of output data may not be the same as the input file.</li>

    </div>
  </div>
  <form action="" method=post enctype=multipart/form-data>

    <div class="row" style="justify-content: center">
      <div class="col-md-6 col-md-offset-3 center">
        <div class="btn-container">
          <!--the three icons: default, ok file (img), error file (not an img)-->
          <h1 class="imgupload"><i class="fa fa-file-image-o"></i></h1>
          <h1 class="imgupload ok"><i class="fa fa-check"></i></h1>
          <h1 class="imgupload stop"><i class="fa fa-times"></i></h1>
          <!--this field changes dinamically displaying the filename we are trying to upload-->
          <p id="namefile">CSV(.csv) or Excel (.xlsx) only</p>
          <!--our custom btn which which stays under the actual one-->
          <!-- <input type="file" name="file" id="fileup"> -->
          <button type="button" id="btnup" class="btn btn-primary btn-lg">Browse for your file</button>
          <input type="file" name="file" id="fileup">
          <!--this is the actual file input, is set with opacity=0 beacause we wanna see our custom one-->
          <div style="margin-top: 25px">
            <label for="cars">Choose output file format:</label>
            <select id="cars" name="filespecs">
              <option value="xlsx">Excel (.xlsx)</option>
              <option value="csv">CSV (.csv)</option>
            </select>
          </div>
          <div>
            <label for="cars">Number of rows to split:</label>
            <input type="text" name="n_rows" value="500">
          </div>

        </div>
      </div>
    </div>
      <!--additional fields-->
    <div class="row">     
      <div class="col-md-12">
        <!--the defauld disabled btn and the actual one shown only if the three fields are valid-->
        <input type="submit" value="Split" name="split" class="btn btn-primary" id="submitbtn0">
        <button type="button" class="btn btn-default" disabled="disabled" id="fakebtn0">Split  <i class="fa fa-minus-circle"></i></button>

        <input type="submit" value="Extract" name="extract" class="btn btn-primary" id="submitbtn1">
        <button type="button" class="btn btn-default" disabled="disabled" id="fakebtn1">Extract  <i class="fa fa-minus-circle"></i></button>

        <input type="submit" value="Match" name="match" class="btn btn-primary" id="submitbtn2">
        <button type="button" class="btn btn-default" disabled="disabled" id="fakebtn2">Match  <i class="fa fa-minus-circle"></i></button>

        <input type="submit" value="End to End" name="end2end" class="btn btn-primary" id="submitbtn3">
        <button type="button" class="btn btn-default" disabled="disabled" id="fakebtn3">End to End  <i class="fa fa-minus-circle"></i></button>
      </div>
    </div>




  </form>

  
</div>
<script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>